// CHOPS TEAM JADE

include ../../mixins



div.subheader
  div.subheader-rect
  h5 TEAM


div.row
    div.chops-tldr

        ul.tldr-list
            li(data-tldr='leadership'): <a>Leadership</a> Led 2 teams of 5 and 12 #[+monkey(1)]'s
            li(data-tldr='camaraderie'): <a>Camaraderie</a> Well-loved by teammates.
            li(data-tldr='communication'): <a>Communication</a> Uhh&hellip;

        div.portfolio
          +portSquare('001', 'airpsych', 'Web App', 'Airpsych', 'Founder/Dev')
          +portSquare('001', 'buywell', 'Coffee', 'BuyWell', 'Founder/CEO')
          +portSquare('001', 'classiccars', 'iPhone/Data', 'ClassicCars', 'Dev & Data')
          +portSquare('001', 'jeffgordon', '2x Apps', 'Jeff Gordon', 'Backend Dev')

      //
          li <b>Communication</b> 6 speaking engagements, 20+ press interviews, web copy, 8 blog posts, and 2 marketing vids.
          li <b>Friendliness</b> Worked with 4 colleagues on least two ventures. Mentored 2 to VIP roles.
          li <b>Logistics</b> Setup warehouse. Roasted and shipped <span>17,000lbs of coffee per month</span>. Worked with 6 intl communities helping <span>1000s of families</span>.

    div.chops-details

        div.chops-details-grp(data-details='leadership').hide

          +chopsBar('leadership')

          div.chops-details-content

              p Founder/Lead for LazyAngel Team of 5

              - var monkey = '&#x1F435;'

              ul.double-col
                  li !{monkey + monkey} <em>founders*</em>
                  li !{monkey} cto
                  li !{monkey + monkey} devs

              p CEO for BuyWell Team of 12

              ul.double-col
                  li !{monkey} <em>founder/ceo*</em>
                  li !{monkey} founder/cmo
                  li !{monkey} coo
                  li !{monkey} coffee buyer
                  li !{monkey} designer
                  li !{monkey} office manager
                  li !{monkey + monkey + monkey} sales
                  li !{monkey + monkey + monkey} ops

              p Full Stack for Consulting Team of 6

              ul.double-col
                  li !{monkey} cto
                  li !{monkey} <em>full stack*</em>
                  li !{monkey} designer
                  li !{monkey + monkey} mobile devs
                  li !{monkey} qa & customers



        div.chops-details-grp(data-details='camaraderie').hide

          +chopsBar('camaraderie')

          div.chops-details-content

              p My teams enjoy working with me:

              ul.show-bullets
                  li Worked with BuyWell co-founder on 2nd project, TaxInfo. We continue to co-advise.
                  li Co-founded LazyAngel with BuyWell's Coffee Buyer. She continues to design for projs.
                  li Recruited by LazyAngel CTO for full stack consulting & other side projs.

              p I mentor & advise:

              ul.show-bullets
                  li Mentored a few throughout their careers, as went from entry-level to VIP-level (CMO, Senior Designer...).
                  li Advise many, including YC startups & applicants.


        div.chops-details-grp(data-details='ownership').hide

          +chopsBar('ownership')

          div.chops-details-content


        div.chops-details-grp(data-details='communication').hide

          +chopsBar('communication')

          div.chops-details-content

              p Examples:

              ul.show-bullets
                  li WORKSHOPS: Led press workshop at MENSA's Regional Leadership Conference, as fellow member and SME.
                  li PRESS: 20+ press interviews on TV, radio, and print
                  li WRITING: samples on Medium: [1], [2], [3], [4]
                  li VIDEO: wrote and co-produced two marketing videos: [1], [2]
                  li WEB COPY: wrote copy for these websites: [1], [2], [3]

                //li <b>Logistics</b> Setup warehouse. Roasted and shipped <span>17,000lbs of coffee per month</span>. Worked with 6 intl communities helping <span>1000s of families</span>.

              p Done biz in over 6 countries in 3 languages:

              ul
                +skill(3, 'English')
                +skill(2, 'French')
                +skill(1, 'Spanish')
                +skill(0, 'German')
